.btn {
    width: 160px !important;
}

.carols-text, .start-info {
    h1 {
        letter-spacing: .14rem;
    }
    text-align: center;
    margin-top: 1.6rem;
    @media (max-width: 700px) {
        padding-bottom: 65px;
    }
    h1 {
        @media (max-width: 700px) {
            font-size: 2rem;
        }
    }
    h4 {
        @media (max-width: 700px) {
            font-size: 1.2rem;
        }
    }
    p {
        @media (max-width: 700px) {
            font-size: 1rem;
        }
    }
}

.nav {
    &-sticked {
        @media (max-width: 700px) {
            flex-direction: row !important;
            justify-content: space-between !important;
            align-items: center;
            align-self: center;
            position: fixed;
            bottom: 0;
            right: 0;
            background: white;
            border-top: 1px solid black;
            width: 100vw;
            .btn {
                margin: .5rem !important;
            }
            .git {
                display: none;
            }
            .nav-buttons {
                width: 50vw;
            }
            .last-roll {
                width: 50vw;
            }
            #last {
                font-size: .8rem;
            }
            
        }
        @media (min-width: 701px) {
            #last-label {
                font-size: 1.2rem;
            }
            #last {
                font-size: 1rem;
            }
        }
    }
}